.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-form-container {
  color: white;
  background-color: gray;
  padding: 16px;
}

.custom-button {
  background-color: blue;
  color: white;
}
.custom-form-container FormLabel {
  color: white;
  padding: 8px;
  display: block;
}
.custom-form-container input[type="text"],
.custom-form-container textarea {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
.custom-form-container .react-datepicker-wrapper {
  width: 100%;
}
.custom-form-container .MuiRadio-root {
  color: white;
}

.custom-form-container .MuiFormControlLabel-label {
  color: white;
}

.custom-form-container .react-datepicker {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
